#hero {
    background-color: #000;
    min-height: 20vh;
    overflow: hidden;
    position: relative;
    background-image: url('./img/streetfight.webp');
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}

#hero>div {
    --bs-bg-opacity: 0.7;
}

#hero-home>div {
    --bs-bg-opacity: 0.7;
}

#hero-home {
    background-color: transparent;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: fixed;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    top: 0;

}

#name {
    max-width: 10em;
    margin: auto;
}

#hero-home>video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

body {
    position: relative;
    padding-bottom: 3rem;
}