#hero {
    background-color: #000;
    min-height: 20vh;
    overflow: hidden;
    position: relative;
    background-image: url('./img/streetfight.webp');
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}

#hero>div {
    --bs-bg-opacity: 0.7;
}

body {
    position: relative;
    padding-bottom: 3rem;
}