#hero {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 60vh;
    overflow: hidden;
    position: relative;
    background-image: url('./img/streetfight.webp');
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}

#hero>div {
    --bs-bg-opacity: 0.66;
}

#footer-hide {
    height: 5rem;
}

body {
    position: relative;
}